
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.title {
  color: white;
  text-align: center;
}
.test {
  margin-top: 10px;
}
 //Display flex en flex-wrap zodat de cards naast en onder elkaar komen
.card-group {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
.container > * {
  display: inline-block;
}
